html, body {
  box-sizing: border-box;
}

@font-face {
  font-family: "All Round Gothic W01 Book";
  src: url('/assets/fonts/allRoundGothicBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

body {
  font-family: $font-family;
  font-size: $bodyfont;
  line-height: $bodylh;
  color: $bodycolor;
  background-color: $bodybgcolor;
  margin: 0;
  padding: 0;
}



