$bodycolor: rgba(34, 34, 34, 0.7);
$bodybgcolor: #F4F4F4;
$bodybgcolor-clients: #FAFAFA;
$bodybgcolor-footer: #515151;


$h1color: #151515;
$h2color: #222222;
$lscolor: #ffffff;
$btncolor: #4737FF;
$btnborder: #2A2197;
$list-active-color: #1434E1;
$listcolor: #A6A6A6;






