$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 360px;

$font-family: "All Round Gothic W01 Book", sans-serif;
$h1font: 60px;
$h2font: 40px;
$h6font: 22px;
$bodyfont: 18px;
$lsfont: 14px;

$h1lh: 1.18em;
$h2lh: 1.25em;
$bodylh: 1.6em;
$lslh: 1.65em;
